@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

a {
    text-decoration: none;
    color: #2c82e6;
    &:visited,
    &:hover {
        color: #2c82e6;
    }
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

li:hover {
    background-color: #EEE;
}